@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root{
  /*  ### Primary */

  --Marineblue:hsl(213, 96%, 18%);
  --Purplishblue:hsl(243, 100%, 62%);
  --Pastelblue:hsl(228, 100%, 84%);
  --Lightblue:hsl(206, 94%, 87%);
  --Strawberryred:hsl(354, 84%, 57%);

/* ### Neutral */

  --Coolgray:hsl(231, 11%, 63%);
  --Lightgray:hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster:hsl(231, 100%, 99%);
  --White:hsl(0, 0%, 100%);
}

.round {
  border-radius: 50%;
}
@font-face {
  font-family: Ubuntu-B;
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: Ubuntu-M;
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: Ubuntu-S;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
body{

}
.selectedFocus {
  border: solid 2px var(--Purplishblue);
  background: var(--Magnolia) ;
  
}
.focusAddon {
  border-color: var(--Purplishblue);
  background-color: var(--Alabaster);
}